/* .newMeter {
  background: url("/static/img/newMeter.");

  display: block;
}

nav:hover .link-text {
  display: inline;
  white-space: nowrap;
  // visibility: visible;
  transition: all 1s -0.3s;
  width: auto;
  opacity: 100%;
} */
