<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block Title%}{% endblock Title%}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/icons.css') }}"
    />
    {% block headAddOn%}{% endblock headAddOn%}
  </head>
  <body class="bg-slate-100">
    <div class="md:container mx-auto flex relative">
      <div class="w-2/12 overflow-hidden">
        <div class="w-full h-screen">
          <ul class="flex flex-col justify-center h-full text-lg">
            <a href="/">
              <li class="flex hover:bg-slate-200 duration-75">
                <div class="flex w-full m-2">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 384 512"
                      width="20"
                    >
                      <path
                        d="M240.5 224H352C365.3 224 377.3 232.3 381.1 244.7C386.6 257.2 383.1 271.3 373.1 280.1L117.1 504.1C105.8 513.9 89.27 514.7 77.19 505.9C65.1 497.1 60.7 481.1 66.59 467.4L143.5 288H31.1C18.67 288 6.733 279.7 2.044 267.3C-2.645 254.8 .8944 240.7 10.93 231.9L266.9 7.918C278.2-1.92 294.7-2.669 306.8 6.114C318.9 14.9 323.3 30.87 317.4 44.61L240.5 224z"
                      />
                    </svg>
                  </div>
                  <div>
                    <span class="link-text w-0 ml-2"> 新增電表 </span>
                  </div>
                </div>
              </li>
            </a>
            <a href="/meter_list">
              <li class="flex hover:bg-slate-200 duration-75">
                <div class="flex w-full m-2">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 384 512"
                      width="20"
                    >
                      <path
                        d="M288 248v28c0 6.6-5.4 12-12 12H108c-6.6 0-12-5.4-12-12v-28c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12zm-12 72H108c-6.6 0-12 5.4-12 12v28c0 6.6 5.4 12 12 12h168c6.6 0 12-5.4 12-12v-28c0-6.6-5.4-12-12-12zm108-188.1V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V48C0 21.5 21.5 0 48 0h204.1C264.8 0 277 5.1 286 14.1L369.9 98c9 8.9 14.1 21.2 14.1 33.9zm-128-80V128h76.1L256 51.9zM336 464V176H232c-13.3 0-24-10.7-24-24V48H48v416h288z"
                      />
                    </svg>
                  </div>
                  <div>
                    <span class="link-text w-0 ml-2"> 電表總爛 </span>
                  </div>
                </div>
              </li>
            </a>
          </ul>
        </div>
      </div>

      <div class="w-full h-screen overflow-hidden">
        <div class="w-full h-14 block bg-red-500">
          <nav id="banner" class="mb-10">我是 NavBar 到時候討論功能</nav>
        </div>
        {% block content%}{% endblock content%}
      </div>

      {% block modal%} {% endblock modal%}
    </div>
  </body>
  <style>
    {% block moreStyle%}{% endblock moreStyle%}
    #container > div {
      width: inherit;
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
  </style>
  <script>
    {% block moreScript%}{% endblock moreScript%}
  </script>
</html>
