<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
      integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  </head>
  <body>
    <div class="w-full m-0 flex justify-center items-center h-screen" id="app">
      <div>
        <form action="/post" method="post">
          <div>
            <div id="IPSec" class="py-2">
              <input
                type="radio"
                id="UseIP"
                name="selection"
                value="UseIP"
                checked
              />
              <label for="UseIP">Use IP</label>
              <br />
              <span>ip address:</span>
              <div>
                <input
                  id="ip1"
                  type="number"
                  class="
                    ipClass
                    px-1
                    number
                    one
                    rounded-md
                    border-gray-500 border-opacity-100 border
                  "
                  maxlength="3"
                  max="255"
                  min="0"
                  name="ip1"
                  inputmode="numeric"
                />
                <span>.</span>
                <input
                  id="ip2"
                  type="number"
                  class="
                    ipClass
                    px-1
                    number
                    two
                    rounded-md
                    border-gray-500 border-opacity-100 border
                  "
                  maxlength="3"
                  max="255"
                  min="0"
                  name="ip2"
                  inputmode="numeric"
                />
                <span>.</span>
                <input
                  id="ip3"
                  type="number"
                  class="
                    ipClass
                    px-1
                    number
                    three
                    rounded-md
                    border-gray-500 border-opacity-100 border
                  "
                  maxlength="3"
                  max="255"
                  min="0"
                  name="ip3"
                  inputmode="numeric"
                />
                <span>.</span>
                <input
                  id="ip4"
                  type="number"
                  class="
                    ipClass
                    px-1
                    number
                    four
                    rounded-md
                    border-gray-500 border-opacity-100 border
                  "
                  maxlength="3"
                  max="255"
                  min="0"
                  name="ip4"
                  inputmode="numeric"
                />
              </div>
            </div>
            <div id="DomainSec" class="py-2">
              <input
                type="radio"
                id="UseDomain"
                name="selection"
                value="UseDomain"
              />
              <label for="UseDomain">Use Domain</label>
              <br />
              <span>Domain Name: </span>
              <div>
                <input
                  id="domainName"
                  type="text"
                  class="
                    px-1
                    number
                    two
                    rounded-md
                    border-gray-500 border-opacity-100 border
                  "
                  name="domainName"
                  disabled
                />
              </div>
            </div>
          </div>
          <div id="PortSec" class="py-2">
            <span>port:</span>
            <input
              type="text"
              class="
                px-1
                number
                rounded-md
                border-gray-500 border-opacity-100 border
              "
              max="65534"
              min="0"
              pattern="\d*"
              value="502"
              maxlength="5"
              placeholder="502"
              id="port"
              name="port"
              inputmode="numeric"
            />
          </div>
          <button
            class="bg-blue-500 rounded-md px-2 py-1 text-white modal-open"
            onclick="checkValue"
          >
            送出
          </button>
        </form>
      </div>
    </div>

    <div
      class="
        modal
        opacity-0
        pointer-events-none
        fixed
        w-full
        h-full
        top-0
        left-0
        flex
        items-center
        justify-center
      "
    >
      <div
        class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"
      ></div>

      <div
        class="
          modal-container
          bg-white
          w-11/12
          md:max-w-md
          mx-auto
          rounded
          shadow-lg
          z-50
          overflow-y-auto
        "
      >
        <!-- Add margin if you want to see some of the overlay behind the modal-->
        <div class="modal-content py-4 text-left px-6">
          <!--Title-->
          <div class="flex justify-between items-center pb-3">
            <p class="text-2xl font-bold">請確認資訊是否正確</p>
            <div class="modal-close cursor-pointer z-50">
              <svg
                class="fill-current text-black"
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 18 18"
              >
                <path
                  d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
                ></path>
              </svg>
            </div>
          </div>

          <!--Body-->

          <div class="modalDiv"></div>

          <!--Footer-->
          <div class="flex justify-end pt-2">
            <button
              class="
                px-4
                bg-transparent
                p-3
                rounded-lg
                text-indigo-500
                hover:bg-gray-100 hover:text-indigo-400
                mr-2
              "
              onclick="submitForm()"
            >
              Action
            </button>
            <button
              class="
                modal-close
                px-4
                bg-indigo-500
                p-3
                rounded-lg
                text-white
                hover:bg-indigo-400
              "
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
  </style>
  <script>
    // if choose ip => disable domainName and enable ip
    document.querySelector("#UseIP").addEventListener("change", () => {
      document.querySelector("#domainName").value = "";
      document.querySelector("#domainName").disabled = true;
      for (const i of document.querySelectorAll(".ipClass")) {
        i.disabled = false;
      }
    });


    // if choose UseDomain => enable domainName and disable ip
    document.querySelector("#UseDomain").addEventListener("change", () => {
      document.querySelector("#domainName").disabled = false;
      for (const i of document.querySelectorAll(".ipClass")) {
        i.value = "";
        i.disabled = true;
      }
    });
    
    //  switch to the next input if reach the length of input
    document.querySelectorAll(".number").forEach(function (el) {

      // force enter number
      function onInputNum(e) {
        if (
          ((e.which != 8 && e.which != 0 && e.which < 48 && e.which != 13) ||
            e.which > 57) &&
          this.id != "domainName"
        ) {
          e.preventDefault();
        }

        // switch to next input
        if (this.value.length >= this.maxLength && this.id != "port") {
          currerentTag = this;

          while (
            currerentTag.nextElementSibling ||
            currerentTag.parentElement.parentElement.nextElementSibling
          ) {
            if (
              currerentTag.nextElementSibling &&
              (currerentTag.nextElementSibling.tagName.toLowerCase() ===
                "input" ||
                currerentTag.nextElementSibling.tagName.toLowerCase() ===
                  "button")
            ) {
              currerentTag = currerentTag.nextElementSibling;

              window.setTimeout(() => currerentTag.focus(), 0);
              break;
            } else if (
              !currerentTag.nextElementSibling &&
              !currerentTag.parentElement.parentElement.nextElementSibling.querySelector(
                "#DomainSec"
              )
            ) {
              currerentTag =
                currerentTag.parentElement.parentElement.parentElement.nextElementSibling.querySelector(
                  "input"
                );
              window.setTimeout(() => currerentTag.focus(), 0);
              break;
            } else {
              currerentTag = currerentTag.nextElementSibling;
            }
          }
        }
      }

      // if selecting an input section, select all text
      function selectAllInput(e) {
        this.select();
      }

      el.addEventListener("keyup", onInputNum.bind(el));
      el.addEventListener("focus", selectAllInput.bind(el));
    });

    // for 送出 BTN
    var openmodal = document.querySelector(".modal-open");
    openmodal.addEventListener("click", function (e) {
      e.preventDefault();
      if (checkValue()) {
        toggleModal();
      }
    });

    const overlay = document.querySelector(".modal-overlay");
    overlay.addEventListener("click", toggleModal);

    var closemodal = document.querySelectorAll(".modal-close");
    for (var i = 0; i < closemodal.length; i++) {
      closemodal[i].addEventListener("click", toggleModal);
      closemodal[i].addEventListener("click", clearNode);
    }

    function clearNode(e) {
      const modalDiv = document.querySelector(".modalDiv");
      while (modalDiv.lastElementChild) {
        modalDiv.removeChild(modalDiv.lastElementChild);
        console.log("KILLED");
      }
    }

    document.onkeydown = function (evt) {
      evt = evt || window.event;
      var isEscape = false;
      if ("key" in evt) {
        isEscape = evt.key === "Escape" || evt.key === "Esc";
      } else {
        isEscape = evt.keyCode === 27;
      }
      if (isEscape && document.body.classList.contains("modal-active")) {
        clearNode();
        toggleModal();
      }
    };

    function toggleModal() {
      const modal = document.querySelector(".modal");
      const modalDiv = document.querySelector(".modalDiv");
      modal.classList.toggle("opacity-0");
      modal.classList.toggle("pointer-events-none");
      if (document.querySelector("#UseIP").checked) {
        ipLists = document.querySelectorAll(".ipClass");
        let newDiv = document.createElement("div");
        newDiv.innerHTML = "IP Address:";
        modalDiv.appendChild(newDiv);
        for (const [index, el] of ipLists.entries()) {
          let newDiv = document.createElement("span");
          newDiv.innerHTML = el.value;
          modalDiv.appendChild(newDiv);
          if (!(index == ipLists.length - 1)) {
            newDiv = document.createElement("span");
            newDiv.innerHTML = ".";
            modalDiv.appendChild(newDiv);
          }
        }
      }

      if (document.querySelector("#UseDomain").checked) {
        let newDiv = document.createElement("div");
        newDiv.innerHTML = "Domain Name: ";
        modalDiv.appendChild(newDiv);
        newDiv = document.createElement("span");
        newDiv.innerHTML = document.querySelector("#domainName").value;
        modalDiv.appendChild(newDiv);
      }

      let newDiv = document.createElement("div");
      newDiv.innerHTML = "Port: " + document.querySelector("#port").value;
      modalDiv.appendChild(newDiv);
    }

    function checkValue() {
      msg = "";
      if (document.querySelector("#UseIP").checked) {
        ipLists = document.querySelectorAll(".ipClass");
        for (const [index, el] of ipLists.entries()) {
          const ipVal = el.value;
          if (ipVal == "" || ipVal.length > 3 || ipVal > 255) {
            msg += "請確認ip的第" + (index + 1) + "欄\n";
          }
        }
        const portVal = document.querySelector("#port").value;
        if (
          portVal.length > 5 ||
          portVal > 65534 ||
          portVal < 0 ||
          portVal == ""
        ) {
          msg += "請確認port\n";
        }
        if (msg) {
          msg += "是否正確";
          alert(msg);
          return false;
        }
      }

      if (document.querySelector("#UseDomain").checked) {
        const domainVal = document.querySelector("#port").value;

        if (condition) {
        }
        const portVal = document.querySelector("#port").value;

        if (
          portVal.length > 5 ||
          portVal > 65534 ||
          portVal < 0 ||
          portVal == ""
        ) {
          msg += "請確認port\n";
        }
        if (msg) {
          msg += "是否正確";

          alert(msg);
          return false;
        }
      }
      return true;
    }

    function submitForm(e) {
      console.log("send");
      document.querySelector("form").submit();
    }
  </script>
</html>
