{% extends "base.html" %} {% block Title %}新增電表{% endblock Title%} {% block
headAddOn%}

<script
  src="{{ url_for('static', filename='scripts/addMeter.js') }} "
  defer
></script>
{% endblock headAddOn%} {% block content%}

<div
  class="flex justify-center w-auto bg-white rounded-xl m-4 p-20 mt-20 align-middle"
  id="app"
>
  <div class="auto">
    <form action="/post" method="post">
      <div>
        <div id="IPSec" class="py-2">
          <input
            type="radio"
            id="UseIP"
            name="selection"
            value="UseIP"
            checked
          />
          <label for="UseIP">Use IP</label>
          <br />
          <span>ip address:</span>
          <div>
            <input
              id="ip1"
              type="number"
              class="ipClass px-1 number one rounded-md border-gray-500 border-opacity-100 border"
              maxlength="3"
              max="255"
              min="0"
              name="ip1"
              inputmode="numeric"
            />
            <span>.</span>
            <input
              id="ip2"
              type="number"
              class="ipClass px-1 number two rounded-md border-gray-500 border-opacity-100 border"
              maxlength="3"
              max="255"
              min="0"
              name="ip2"
              inputmode="numeric"
            />
            <span>.</span>
            <input
              id="ip3"
              type="number"
              class="ipClass px-1 number three rounded-md border-gray-500 border-opacity-100 border"
              maxlength="3"
              max="255"
              min="0"
              name="ip3"
              inputmode="numeric"
            />
            <span>.</span>
            <input
              id="ip4"
              type="number"
              class="ipClass px-1 number four rounded-md border-gray-500 border-opacity-100 border"
              maxlength="3"
              max="255"
              min="0"
              name="ip4"
              inputmode="numeric"
            />
          </div>
        </div>
        <div id="DomainSec" class="py-2">
          <input
            type="radio"
            id="UseDomain"
            name="selection"
            value="UseDomain"
          />
          <label for="UseDomain">Use Domain</label>
          <br />
          <span>Domain Name: </span>
          <div>
            <input
              id="domainName"
              type="text"
              class="px-1 number two rounded-md border-gray-500 border-opacity-100 border"
              name="domainName"
              disabled
            />
          </div>
        </div>
      </div>
      <div id="PortSec" class="py-2">
        <span>port:</span>
        <input
          type="text"
          class="px-1 number rounded-md border-gray-500 border-opacity-100 border"
          max="65534"
          min="0"
          pattern="\d*"
          value="502"
          maxlength="5"
          placeholder="502"
          id="port"
          name="port"
          inputmode="numeric"
        />
      </div>
      <button
        class="bg-blue-500 rounded-md px-2 py-1 text-white modal-open"
        onclick="checkValue"
      >
        送出
      </button>
    </form>
  </div>
</div>
  {% endblock content%} {% block modal%}
  
  <div
  class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center"
>
  <div
    class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"
  ></div>

  <div
    class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto"
  >
    <!-- Add margin if you want to see some of the overlay behind the modal-->
    <div class="modal-content py-4 text-left px-6">
      <!--Title-->
      <div class="flex justify-between items-center pb-3">
        <p class="text-2xl font-bold">請確認資訊是否正確</p>

      </div>

      <!--Body-->

      <div class="modalDiv"></div>

      <!--Footer-->
      <div class="flex justify-end pt-2">
        <button
          class="modal-close px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400"
          onclick="submitForm()"
        >
          確認
        </button>
        <button
          class="px-4 bg-transparent p-3 rounded-lg text-indigo-500 hover:bg-gray-100 hover:text-indigo-400 mr-2"
          onclick="toggleModal()"
        >
          關閉
        </button>
      </div>
    </div>
  </div>
</div>
  {% endblock modal%}
</div>
