<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
      integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  </head>
  <body>
    <table>
      <tbody>
        <tr>
          <th>id</th>
          <th>ip</th>
          <th>port</th>
          <th>meter_type</th>
          <th>created_at</th>
          <th>updated_at</th>
        </tr>
        {% for meterList in meterLists %}
        <tr>
          {% for meterEL in meterList %}
          <td>{{ meterEL }}</td>
          {% endfor%}
        </tr>
        {% endfor%}
      </tbody>
    </table>
  </body>
</html>
