<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>列表</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/icons.css') }}"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.0/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body class=" bg-slate-100 flex ">
    <div>
      <nav class="fixed h-screen w-28 bg-white">
        <ul class="flex flex-col justify-center h-full">
          <li class="flex hover:bg-slate-200 duration-75 ">
            <a href="/">
              <div class="flex w-full m-2">
                <div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 384 512"
                    width="20"  
                  >
                    <path
                      d="M240.5 224H352C365.3 224 377.3 232.3 381.1 244.7C386.6 257.2 383.1 271.3 373.1 280.1L117.1 504.1C105.8 513.9 89.27 514.7 77.19 505.9C65.1 497.1 60.7 481.1 66.59 467.4L143.5 288H31.1C18.67 288 6.733 279.7 2.044 267.3C-2.645 254.8 .8944 240.7 10.93 231.9L266.9 7.918C278.2-1.92 294.7-2.669 306.8 6.114C318.9 14.9 323.3 30.87 317.4 44.61L240.5 224z"
                    />
                  </svg>
                </div>
                <div>
                  <span class="link-text w-0 ml-2"> 新增電表 </span>
                </div>
              </div>
            </a>
          </li>

          <li class="flex hover:bg-slate-200 duration-75 ">
            <a href="/meter_list">
              <div class="flex w-full m-2">
                <div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 384 512"
                    width="20"
                  >
                    <path
                      d="M288 248v28c0 6.6-5.4 12-12 12H108c-6.6 0-12-5.4-12-12v-28c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12zm-12 72H108c-6.6 0-12 5.4-12 12v28c0 6.6 5.4 12 12 12h168c6.6 0 12-5.4 12-12v-28c0-6.6-5.4-12-12-12zm108-188.1V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V48C0 21.5 21.5 0 48 0h204.1C264.8 0 277 5.1 286 14.1L369.9 98c9 8.9 14.1 21.2 14.1 33.9zm-128-80V128h76.1L256 51.9zM336 464V176H232c-13.3 0-24-10.7-24-24V48H48v416h288z"
                    />
                  </svg>
                </div>
                <div>
                  <span class="link-text w-0 ml-2"> 電表總爛 </span>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="pl-28  w-screen h-screen ">
      <div class="fixed w-full h-14 block bg-red-500 ">
        <nav id="banner" class=" mb-10">我是 NavBar 到時候討論功能</nav>
      </div>


      <div class="flex flex-col justify-center w-auto bg-white rounded-xl m-4 mt-20">
        <div id="meterList al ml-16">
          <div class="flex w-full justify-around ">
            <div class="w-1/6 text-center text-lg">ID</div>
            <div class="w-1/6 text-center text-lg">IP</div>
            <div class="w-1/6 text-center text-lg">Port</div>
            <div class="w-1/6 text-center text-lg">Meter Type</div>
            <div class="w-1/6 text-center text-lg">Created At</div>
            <div class="w-1/6 text-center text-lg">Updated At</div>
          </div>
          <div>
            {% for info in infos %}
            <div class="flex w-full justify-around  hover:bg-slate-200 duration-75 ">
              <div class="w-1/6 text-center text-lg">{{ info[0] }}</div>
              <div class="w-1/6 text-center text-lg">{{ info[1] }}</div>
              <div class="w-1/6 text-center text-lg">{{ info[2] }}</div>
              <div class="w-1/6 text-center text-lg">{{ info[3] }}</div>
              <div class="w-1/6 text-center text-lg">{{ info[4] }}</div>
              <div class="w-1/6 text-center text-lg">{{ info[5] }}</div>
            </div>
            {% endfor%}  
          </div>
        </div>

      </div>
      <div class="flex justify-around mt-4 mb-2 pt-2 pb-5">
        <div></div>
        <div id="pageNum" class="flex justify-center items-center">
          {% if (page)!=1 %}

          <a href="/meter_list?page={{ page-1 }}"><上一頁</a>

          <a class="btn p-1 rounded bg-gradient-to-b from-gray-300 to-gray-500 mx-2" href="/meter_list?page=1">
                1
          </a>
          {% endif %} {% if (page-1)>1 %}
          <p class="mx-2 rounded ">...</p>
          <a class="btn p-1 mx-1 rounded  bg-gradient-to-b from-gray-300 to-gray-500" href="/meter_list?page={{ (page-1) }}">{{ page-1 }}</a>
          {% endif %}

          <a class="btn p-1 rounded bg-gradient-to-b from-green-400 to-blue-500 mx-1" href="/meter_list?page={{ page }}">{{ page }}</a>
          {% if (page+1)<pages %}
          <a class="btn p-1 rounded bg-gradient-to-b from-gray-300 to-gray-500 mx-1" href="/meter_list?page={{ (page+1) }}">{{ page+1 }}</a>
          <p class="mx-2 rounded">...</p>
          {% endif %}
          {% if (page)!=pages %}
          <a class="btn p-1 mx-2 rounded bg-gradient-to-b from-gray-300 to-gray-500" href="/meter_list?page={{ pages }}">{{ pages }}</a>
          <a href="/meter_list?page={{ page+1 }}">下一頁></a>
          {% endif %}
          <input type="number"  id="goto" class="w-14 rounded mx-4" onkeydown="return !((event.keyCode === 69 || event.keyCode === 189) && event.keyCode !== 13)" />

        </div>
        
        <div class="flex justify-end item-end bg-blue-300 rounded p-1" onclick="toggleModal()">
          <img class="float-left" src="{{ url_for('static', filename='img/search.png') }}" width="20" height="20"></img>
        </div>
      </div>
    </div>
    <!-- modal -->
    <div
    class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center"
  >
    <div
      class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"
    ></div>

    <div
      class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto"
    >
      <!-- Add margin if you want to see some of the overlay behind the modal-->
      <div class="modal-content py-4 text-left px-6">
        <!--Title-->
        <div class="flex justify-between items-center pb-3">
          <p class="text-2xl font-bold">想找什麼呢</p>
          <div class="modal-close cursor-pointer z-50" onclick="toggleModal()">
            <svg
              class="fill-current text-black"
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 18 18"
            >
              <path
                d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
              ></path>
            </svg>
          </div>
        </div>

        <!--Body-->

        <div class="modalDiv overflow-hidden">
          <form action="/" method="post">
            <div>
              <div>ID系列:</div>
              <input type="number"  id="goto" class="ipClass px-1 w-20 number four rounded-md border-gray-500 border-opacity-100 border" onkeydown="return !(event.keyCode === 69 || event.keyCode === 189 || event.keyCode === 110||event.keyCode === 190)" />
            </div>
            <div>
              <div>ip 系列: </div>
              <div class="flex">
                <input name="ip1"
                class="ipClass px-1 w-20 number four rounded-md border-gray-500 border-opacity-100 border"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                onkeydown="return !(event.keyCode === 69 || event.keyCode === 189 || event.keyCode === 110||event.keyCode === 190)"
                type = "number"
                maxlength = "3"
                />
                <span>.</span>
                <input name="ip2"
                class="ipClass px-1 w-20 number four rounded-md border-gray-500 border-opacity-100 border"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                onkeydown="return !(event.keyCode === 69 || event.keyCode === 189 || event.keyCode === 110||event.keyCode === 190)"
                type = "number"
                maxlength = "3"
                />
                <span>.</span>
                <input name="ip3"
                class="ipClass px-1 w-20 number four rounded-md border-gray-500 border-opacity-100 border"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                onkeydown="return !(event.keyCode === 69 || event.keyCode === 189 || event.keyCode === 110||event.keyCode === 190)"
                type = "number"
                maxlength = "3"
                />
                <span>.</span>
                <input name="ip4"
                class="ipClass px-1 w-20 number four rounded-md border-gray-500 border-opacity-100 border"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                onkeydown="return !(event.keyCode === 69 || event.keyCode === 189 || event.keyCode === 110||event.keyCode === 190)"
                type = "number"
                maxlength = "3"
                />
              </div>
            </div>
            <div>
              <div>Port系列:</div>
              <input name="port"
              class="ipClass px-1 w-20 number four rounded-md border-gray-500 border-opacity-100 border"
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              onkeydown="return !(event.keyCode === 69 || event.keyCode === 189 || event.keyCode === 110||event.keyCode === 190)"
              type = "number"
              maxlength = "3"
              />
            </div>
            <div>
              <div>Meter Type系列:</div>
              <input name="meterType"
              class="ipClass px-1 w-20 number four rounded-md border-gray-500 border-opacity-100 border"
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              onkeydown="return !(event.keyCode === 69 || event.keyCode === 189 || event.keyCode === 110||event.keyCode === 190)"
              type = "number"
              maxlength = "3"
              />
            </div>
            <div>
              <div>Create At系列:</div>
              <input name="meterType"
              class="ipClass px-1 w-20 number four rounded-md border-gray-500 border-opacity-100 border"
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              onkeydown="return !(event.keyCode === 69 || event.keyCode === 189 || event.keyCode === 110||event.keyCode === 190)"
              type = "number"
              maxlength = "3"
              />
            </div>
          </form>
        </div>

        <!--Footer-->
        <div class="flex justify-end pt-2">
          <button
            class="modal-close px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400"
            onclick="submitForm()"
          >
            確認
          </button>
          <button
            class="px-4 bg-transparent p-3 rounded-lg text-indigo-500 hover:bg-gray-100 hover:text-indigo-400 mr-2"
            onclick="toggleModal()"
          >
            關閉
          </button>
        </div>
      </div>
    </div>
  </div>
    <script>
      const inputGoto = document.querySelector("#goto")

      
      inputGoto.addEventListener("keydown", function(e){
        let p = inputGoto.value;
        // console.log(e)
        if(e.which == 13 && p.length >0){
            if( p> {{pages}}){
            alert("太大囉")
            inputGoto.value = ""
            return
          }
          let gotoP = ('/meter_list?page='+p)
          window.location.href =gotoP;

        }
      })





      var openmodal = document.querySelector(".modal-open");
    openmodal.addEventListener("click", function (e) {
      e.preventDefault();
      if (checkValue()) {
        toggleModal();
      }
    });

    const overlay = document.querySelector(".modal-overlay");
    overlay.addEventListener("click", toggleModal);

    var closemodal = document.querySelectorAll(".modal-close");
    for (var i = 0; i < closemodal.length; i++) {
      closemodal[i].addEventListener("click", toggleModal);
    }


    document.onkeydown = function (evt) {
      evt = evt || window.event;
      var isEscape = false;
      if ("key" in evt) {
        isEscape = evt.key === "Escape" || evt.key === "Esc";
      } else {
        isEscape = evt.keyCode === 27;
      }
      if (isEscape && document.body.classList.contains("modal-active")) {
        toggleModal();
      }
    };

    function toggleModal() {

      const modal = document.querySelector(".modal");
      const modalDiv = document.querySelector(".modalDiv");
      modal.classList.toggle("opacity-0");
      modal.classList.toggle("pointer-events-none");
      if (document.querySelector("#UseIP").checked) {
        ipLists = document.querySelectorAll(".ipClass");
        let newDiv = document.createElement("div");
        newDiv.innerHTML = "IP Address:";
        modalDiv.appendChild(newDiv);
        for (const [index, el] of ipLists.entries()) {
          let newDiv = document.createElement("span");
          newDiv.innerHTML = el.value;
          modalDiv.appendChild(newDiv);
          if (!(index == ipLists.length - 1)) {
            newDiv = document.createElement("span");
            newDiv.innerHTML = ".";
            modalDiv.appendChild(newDiv);
          }
        }
      }

      if (document.querySelector("#UseDomain").checked) {
        let newDiv = document.createElement("div");
        newDiv.innerHTML = "Domain Name: ";
        modalDiv.appendChild(newDiv);
        newDiv = document.createElement("span");
        newDiv.innerHTML = document.querySelector("#domainName").value;
        modalDiv.appendChild(newDiv);
      }

      let newDiv = document.createElement("div");
      newDiv.innerHTML = "Port: " + document.querySelector("#port").value;
      modalDiv.appendChild(newDiv);
    }


    </script>
  </body>
</html>
