{% extends "base.html" %}

{% block Title %}電表列表{% endblock Title%} 
{% block headAddOn%}
<script
src="{{ url_for('static', filename='scripts/meterList.js') }} "
defer
></script>
{% endblock headAddOn%} 
{% block content%}
<div class="flex flex-col justify-center w-auto bg-white rounded-xl m-4 mt-20">
  <div id="meterList al ml-16">
    <div class="flex w-full justify-around ">
      <div class="w-1/6 text-center text-lg">ID</div>
      <div class="w-1/6 text-center text-lg">IP</div>
      <div class="w-1/6 text-center text-lg">Port</div>
      <div class="w-1/6 text-center text-lg">Meter Type</div>
      <div class="w-1/6 text-center text-lg">Created At</div>
      <div class="w-1/6 text-center text-lg">Updated At</div>
    </div>
    <div>
      {% for info in infos %}
      <div class="flex w-full justify-around  hover:bg-slate-200 duration-75 ">
        <div class="w-1/6 text-center text-lg">{{ info[0] }}</div>
        <div class="w-1/6 text-center text-lg">{{ info[1] }}</div>
        <div class="w-1/6 text-center text-lg">{{ info[2] }}</div>
        <div class="w-1/6 text-center text-lg">{{ info[3] }}</div>
        <div class="w-1/6 text-center text-lg">{{ info[5] }}</div>
        <div class="w-1/6 text-center text-lg">{{ info[6] }}</div>
      </div>
      {% endfor%}  
    </div>
  </div>


</div>
<div class="flex justify-around mt-4 mb-2 pt-2 pb-5">
  <div></div>
  <div id="pageNum" class="flex justify-center items-center">
    {% if (page)!=1 %}

    <a href="/meter_list?page={{ page-1 }}"><上一頁</a>

    <a class="btn p-1 rounded bg-gradient-to-b from-gray-300 to-gray-500 mx-2" href="/meter_list?page=1">
          1
    </a>
    {% endif %} {% if (page-1)>1 %}
    <p class="mx-2 rounded ">...</p>
    <a class="btn p-1 mx-1 rounded  bg-gradient-to-b from-gray-300 to-gray-500" href="/meter_list?page={{ (page-1) }}">{{ page-1 }}</a>
    {% endif %}

    <a class="btn p-1 rounded bg-gradient-to-b from-green-400 to-blue-500 mx-1" href="/meter_list?page={{ page }}">{{ page }}</a>
    {% if (page+1)<pages %}
    <a class="btn p-1 rounded bg-gradient-to-b from-gray-300 to-gray-500 mx-1" href="/meter_list?page={{ (page+1) }}">{{ page+1 }}</a>
    <p class="mx-2 rounded">...</p>
    {% endif %}
    {% if (page)!=pages %}
    <a class="btn p-1 mx-2 rounded bg-gradient-to-b from-gray-300 to-gray-500" href="/meter_list?page={{ pages }}">{{ pages }}</a>
    <a href="/meter_list?page={{ page+1 }}">下一頁></a>
    {% endif %}
    <input type="number"  id="goto" class="w-14 rounded mx-4" onkeydown="return !((event.keyCode === 69 || event.keyCode === 189) && event.keyCode !== 13)" />

  </div>
  
  <div class="flex justify-end item-end bg-blue-300 rounded p-1" onclick="toggleModal()">
    <img class="float-left" src="{{ url_for('static', filename='img/search.png') }}" width="20" height="20"></img>
  </div>
</div>
{% endblock content%}


{% block modal%}
    <!-- modal -->
    <div
    class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center"
  >
    <div
      class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"
    ></div>

    <div
      class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto"
    >
      <!-- Add margin if you want to see some of the overlay behind the modal-->
      <div class="modal-content py-4 text-left px-6">
        <!--Title-->
        <div class="flex justify-between items-center pb-3">
          <p class="text-2xl font-bold">想找什麼呢</p>

        </div>

        <!--Body-->

        <div class="modalDiv overflow-hidden">
          <form action="/meter_list" method="get" id="gotoForm">
            <div>
              <div>ip 系列: </div>
              <div class="flex">
                <input name="ip1"
                class="ipClass px-1 w-20 number four rounded-md border-gray-500 border-opacity-100 border"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                onkeydown="return !(event.keyCode === 69 || event.keyCode === 189 || event.keyCode === 110||event.keyCode === 190)"
                type = "number"
                maxlength = "3"
                />
                <span>.</span>
                <input name="ip2"
                class="ipClass px-1 w-20 number four rounded-md border-gray-500 border-opacity-100 border"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                onkeydown="return !(event.keyCode === 69 || event.keyCode === 189 || event.keyCode === 110||event.keyCode === 190)"
                type = "number"
                maxlength = "3"
                />
                <span>.</span>
                <input name="ip3"
                class="ipClass px-1 w-20 number four rounded-md border-gray-500 border-opacity-100 border"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                onkeydown="return !(event.keyCode === 69 || event.keyCode === 189 || event.keyCode === 110||event.keyCode === 190)"
                type = "number"
                maxlength = "3"
                />
                <span>.</span>
                <input name="ip4"
                class="ipClass px-1 w-20 number four rounded-md border-gray-500 border-opacity-100 border"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                onkeydown="return !(event.keyCode === 69 || event.keyCode === 189 || event.keyCode === 110||event.keyCode === 190)"
                type = "number"
                maxlength = "3"
                />
              </div>
            </div>
            <div>
              <div>Port系列:</div>
              <input name="port"
              class="ipClass px-1 w-20 number four rounded-md border-gray-500 border-opacity-100 border"
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              onkeydown="return !(event.keyCode === 69 || event.keyCode === 189 || event.keyCode === 110||event.keyCode === 190)"
              type = "number"
              maxlength = "3"
              />
            </div>
            <div>
              <div>Meter Type系列:</div>
              <input name="meterType"
              class="ipClass px-1 w-20 number four rounded-md border-gray-500 border-opacity-100 border"
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              onkeydown="return !(event.keyCode === 69 || event.keyCode === 189 || event.keyCode === 110||event.keyCode === 190)"
              type = "number"
              maxlength = "3"
              />
            </div>
            <div>
              <div>Create At系列:</div>
              <input 
              class="ipClass px-1 w-64 number four rounded-md border-gray-500 border-opacity-100 border"
              type="date" id="CreateAt" name="CreateAt">
            </div>
            <div>
              <div>Updated At系列:</div>
              <input 
              class="ipClass px-1 w-64 number four rounded-md border-gray-500 border-opacity-100 border"
              type="date" id="UpdatedAt" name="UpdatedAt">
            </div>
          </form>
        </div>

        <!--Footer-->
        <div class="flex justify-end pt-2">
          <button
            class="modal-close px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400"
            type="submit" form="gotoForm"
          >
            確認
          </button>
          <button
            class="px-4 bg-transparent p-3 rounded-lg text-indigo-500 hover:bg-gray-100 hover:text-indigo-400 mr-2"
            onclick="toggleModal()"
          >
            關閉
          </button>
        </div>
      </div>
    </div>
  </div>
{% endblock modal%}

{% block moreScript%}
const inputGoto = document.querySelector("#goto")

      
inputGoto.addEventListener("keydown", function(e){
  let p = inputGoto.value;
  // console.log(e)
  if(e.which == 13 && p.length >0){
      if( p> {{pages}}){
      alert("太大囉")
      inputGoto.value = ""
      return
    }
    let gotoP = ('/meter_list?page='+p)
    window.location.href =gotoP;

  }
})


{% endblock moreScript%}
